.catalog {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 1.25rem 3rem 1.25rem;
    gap: var(--catalog-gap);
}
@media (min-width: 768px) {
    .catalog {
        padding: 2rem 1.25rem 4rem 1.25rem;
    }
}
@media (min-width: 1024px) {
    .catalog {
        padding: 2.5rem;
    }
}
@media (min-width: 1440px) {
    .catalog {
        padding: 2.5rem 5rem;
    }
}