.catalog {
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--catalog-gap);
    row-gap: 2.5rem;
    margin-top: 1.25rem;
}
@media (min-width: 768px) {
    .catalog {
        margin-right: calc(-1 * var(--catalog-gap));
    }
}
@media (min-width: 1024px) {
    .catalog {
    }
}
@media (min-width: 1440px) {
    .catalog {
    }
}