.catalog {
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--catalog-gap);
    row-gap: 2.5rem;
    margin-top: 1.25rem;
}
@media (min-width: 768px) {
    .catalog {
        margin-right: calc(-1 * var(--catalog-gap));
    }
}
@media (min-width: 1024px) {
    .catalog {
    }
}
@media (min-width: 1440px) {
    .catalog {
    }
}

.loading {
    min-height: 90vh;
}
.loadingRef {
    height: 20px;
    width: 100%;
}

.twitterLoader {
    width: 24px;
    height: 24px;
    border: 4px solid rgba(235,245,144,.4);
    border-top-color: var(--accent-color);
    border-radius: 50%;
    animation: rotate 0.7s linear infinite;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
  }
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }