.filterNav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.filterNav > button:not(:first-child) {
    margin-left: 0.25rem;
}

.searchBtn {
    padding-left: 0.875rem;
}
@media (hover: hover) {
    .searchBtn:hover input {
        width: 180px;
        max-width: 300px;
    }
}
.searchBtn:active {
    background: #393939;
    color: #fff;
}
.searchBtn input {
    transition: width 200ms;
    border: none;
    padding: 0;
    color: #fff;
    width: 0;
    margin-left: 4px;
}
.searchBtn input:focus {
    outline: none;
}