.filterNav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}


.filterNavContainer {
    position: relative;
}
.filterNavContainer:not(:first-child) {
    margin-left: 0.25rem;
}

.filterNavMenu {
    display: none;
    position: absolute;
    top: 46px;
    left: 0;
    z-index: 9;
    border-radius: 1.25rem;
    background: #393939;
    padding: 0.5rem;
    width: 100%;
    min-width: 220px;
    max-width: 340px;
}
.filterNavMenu.open {
    display: block;
}
.filterNavMenu li a,
.filterNavMenu li button {
    display: inline-block;
    padding: 0.5rem 24px 0.5rem 0.5rem;
    color: #fff;
    width: 100%;
    border: none;
    text-align: left;
}
.filterNavMenu li a:hover,
.filterNavMenu li button:hover {
    border-radius: 0.675rem;
    background-color: rgba(0,0,0,.2);
}
.filterNavMenu .selectedSortOption {
    background-image: url('../../../public/assets/images/icon-checkmark.svg');
    background-repeat: no-repeat;
    background-position: center right 12px;
    background-size: 14px;
}


.searchBtn {
    padding-left: 0.875rem;
}
@media (hover: hover) {
    .searchBtn:hover input {
        width: 180px;
        max-width: 300px;
    }
}
.searchBtn:active {
    background: #393939;
    color: #fff;
}
.searchBtn input {
    transition: width 200ms;
    border: none;
    padding: 0;
    color: #fff;
    width: 0;
    margin-left: 4px;
}
.searchBtn input:focus {
    outline: none;
}