.filterNavMenu {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    background: #000;
    width: 100%;
    height: 100%;

    display: none;
}
.filterNavMenuOpen {
    display: block;
}
.header {
    margin-bottom: 10px;
    min-height: 56px;
    display: flex;
    align-items: center;
}
.header .filterNavTitle {
    margin-bottom: 0;
}
.filterBackBtn {
    padding-right: 1rem;
}
.filterNavTitle {
    font-size: 1.25rem;
    line-height: 1.2;
    font-weight: 500;
}
.filterNavList {
    max-width: 480px;
}
.filterNavList li {
    margin-bottom: 0.5rem;
}
.filterNavList a {
    background-image: url('../../../public/assets/images/icon-chevron-right.svg');
    background-repeat: no-repeat;
    background-position: center right;
    display: block;
    width: 100%;
    color: #fff;
    font-size: 0.875rem;
    line-height: 1.42857;
}
.filterNavListSecond {
    max-width: 480px;
}
.filterNavListSecond li {
    margin-bottom: 0.5rem;
}
.filterNavListSecond a.active {
    background-image: url('../../../public/assets/images/icon-checkmark.svg');
    background-repeat: no-repeat;
    background-position: center right;
}
.filterNavListSecond a {
    display: block;
    width: 100%;
    color: #fff;
    font-size: 0.875rem;
    line-height: 1.42857;
}

.filterNavMain {
    transition: transform 500ms ease;
    transform: translateX(0vw);
    position: absolute;
    width: 100%;
    padding: 1.25rem;
}

.filterNavSort {
    position: absolute;
    transition: transform 500ms ease;
    transform: translateX(100vw);
    width: 100%;
    padding: 1.25rem;
}

.filterNavType {
    position: absolute;
    transition: transform 500ms ease;
    transform: translateX(100vw);
    width: 100%;
    padding: 1.25rem;
}

.open {
    transform: translateX(0);
}

.closed {
    transform: translateX(-100vw);
}