.footer {
    position: relative;
    z-index: 1;
    background: #000;
    padding: 1.5rem 1.25rem 3rem 1.25rem;
    border-radius: 2.5rem 2.5rem 0rem 0rem;
    margin-top: -4rem;
}
@media (min-width: 768px) {
    .footer {
        padding: 2rem 1.25rem 4rem 1.25rem;
    }
}
@media (min-width: 1024px) {
    .footer {
        padding: 2.5rem;
        border-radius: 3.75rem 3.75rem 0rem 0rem;
        margin-top: -5rem;
    }
}
@media (min-width: 1440px) {
    .footer {
        padding: 2.5rem 5rem;
        border-radius: 5.5rem 5.5rem 0rem 0rem;
    }
}
.footerLogo {
    margin-left: 0;
    width: 11.3125rem;
}
@media (min-width: 768px) {
    .footerLogo {
        width: 16.9375rem;
    }
}
.content {
    margin-top: 1.5rem;
}
@media (min-width: 768px) {
    .content {
        margin-top: 2.5rem;
    }
}
@media (min-width: 1024px) {
    .content {
        display: flex;
    }
}

.socialContainer {
    display: flex;
    flex-wrap: wrap;
}
@media (min-width: 1024px) {
    .socialContainer {
        width: 50%;
        padding-right: 1.25rem;
    }
}
.socialLink {
    padding-right: 0.25rem;
    margin-bottom: 1.5rem;
    width: 50%;
}
@media (min-width: 768px) {
    .socialLink {
        margin-bottom: 2.5rem;
        width: 33.333%;
    }
}

.label  {
    color: rgba(255,255,255,.45);
    margin-bottom: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.2857;
}
.socialHref {
    font-size: 0.875rem;
    line-height: 1.2857;  
}


.legalContainer {
    color: rgba(255,255,255,.45);
}
@media (min-width: 1024px) {
    .legalContainer {
        width: 50%;
    }
}
.legalContainer p {
    font-size: 0.875rem;
    color: rgba(255,255,255,.45);
}

.legalList {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.5rem;
}
@media (min-width: 768px) {
    .legalList {
        margin-bottom: 0.375rem;
    }
}
.legalList li {
    margin-bottom: 0.5625rem;
}
@media (min-width: 768px) {
    .legalList li {
        margin-bottom: 0;
    }
}

.legalLink {
    opacity: 200ms color;
    text-decoration: none;
    color: rgba(255,255,255,.45);
    font-size: 0.875rem;
    line-height: 1.2857;      
}
.legalLink:hover {
    color: #fff;
}