.catalogContainer {
    background: #1a1a1a;
    padding: 1.5rem 1.25rem 8rem 1.25rem;
    border-radius: 2.5rem 2.5rem 0rem 0rem;
}
@media (min-width: 768px) {
    .catalogContainer {
        padding: 2rem 1.25rem 8rem 1.25rem;
    }
}
@media (min-width: 1024px) {
    .catalogContainer {
        padding: 2.5rem 2.5rem 10rem;
        border-radius: 3.75rem 3.75rem 0rem 0rem;
    }
}
@media (min-width: 1440px) {
    .catalogContainer {
        padding: 2.5rem 5rem 10rem;
        border-radius: 5.5rem 5.5rem 0rem 0rem;
    }
}